NEXT_PUBLIC_APP_SCRIPT_URL=YOUR_APP_SCRIPT_URL
NEXT_PUBLIC_GOOGLE_AUTH_CLIENT_ID=YOUR_GOOGLE_AUTH_CLIENT_ID
NEXT_PUBLIC_EMAIL_WHITE_LIST=example1@example.com,example2@example.com
NEXT_PUBLIC_AUTH_PROXY=YOUR_AUTH_PROXY_URL
NEXT_PUBLIC_TRAVEL_SPLIT_GCF=YOUR_TRAVEL_SPLIT_GCF_URL
NEXT_PUBLIC_SHEET_ID=YOUR_SHEET_ID